/* Global */

body {
  margin: 0px;
  padding: 0px;
  background-color: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

h1 {
  font-weight: bold;
  font-size: 23pt;
}

h2 {
  font-weight: bold;
  font-size: 20pt;
}

h3 {
  font-weight: bold;
  font-size: 16pt;
}

h4 {
  font-size: 16pt;
}

a {
  text-decoration: none;
}

a img:hover {
  opacity: 0.85;
}

article {
  font-size: 13pt;
  padding-top: 0;
}

abbr[title] {
  text-decoration: underline;
}

::selection {
  color: white;
  background: #2196F3;
}

::-moz-selection {
  color: white;
  background: #2196F3;
}

/* Classes */

.main_article h1{
  margin-top: 48px;
  margin-bottom: 12px;
}

.gist {
  max-width:100%;
  overflow:auto;
}

.cv-known-tech{
  margin: 3px 0px 5px 0px;
}

.cv-known-tech-item{
  margin: 3px 0px 3px 0px;
}

.col-main {
  margin: auto;
  width: 100%;
  max-width: 900px;
}

.adjust-width {
  margin: 0 -16px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 13pt;
}

.caption {
  text-align: center;
  font-size: 10pt;
  font-style: italic;
  color: grey;
  margin-bottom: 30px;
}

.headerimage-article {
  margin: auto;
  max-width: 1100px;
}

.headerimage-card {
  margin: 0 -16px;
}

.headerimage-card > img {
  max-width: 100%;
}

ul.social {
  white-space: nowrap;
}

ul.social li {
  display: inline-block;
  padding: 0 15px;
  font-size: 20pt;
}

ul.social li a:hover {
  opacity: 0.85;
}



/* Ids */

#header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1400px;
}

#header-logo {
  width: 60px;
  min-width: 60px; /* no resizing! */
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20pt;
  font-weight: bold;
}

#header-logo:hover {
  opacity: 0.85;
}

#header-menu {
  font-size: 14pt;
  text-align: right;
}

#header-menu ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

#header-menu ul li {
  text-transform: uppercase;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  white-space:nowrap;
}

#intro {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}

#intro-description {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 11pt;
}

#intro img.avatar {
  width: 150px;
  max-width: 60%;
  margin: 0 50px;
  vertical-align: middle;
}

#footer {
  width: 100%;
  height: auto;
  font-size: 11pt;
}

#footer-copyright {
  background-color: #0F0F0F;
}

#listing article {
  padding: 20px 35px 35px 35px
}

#content {
  line-height: 1.6;
}

#content h2, #content h3, #content h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

#content a {
  color: #2196F3!important;
}

#content a:hover {
  text-decoration: underline;
}

#content blockquote {
  border-left: 5px solid;
  border-color: #ccc;
  padding-left: 1rem;
  font-style: italic;
}

#content div.highlight {
  overflow: auto;
  padding-left: 1em;
  margin: 1em 0 1em 0;
}

#content ul, #content ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#content p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#content p > img {
  max-width: 100%;
  display: block;
  margin: 3rem auto 3rem auto;
}

#content p.content-highlight {
  color: #4CAF50;
  font-size: 18pt;
  text-align: right;
  font-style: italic;
  width: 50%;
  float: right;
}

#content hr {
  margin: 3rem auto 3rem auto;
  border-color: #ccc;
  border-width: 1px;
}

#author-block {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#author-info {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#author-name {
  font-weight: bold;
  font-size: 14pt;
}

#author-story {
  font-size: 11pt;
  font-style: italic;
}

#share a {
  min-width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#share a span {
  display: none;
}



/* Screen > 530px */

@media screen and (min-width: 530px) {

  h1 {
    font-size: 26pt;
  }

  article {
    font-size: 14pt;
  }

  .adjust-width {
    margin: 0;
  }

  #header-menu ul {
    flex-direction: row;
    margin-top: 18px;
  }

  #content p.content-highlight {
    font-size: 24pt;
  }

  #share a span {
    display: inline;
  }
}
